[Unit]
Description=Run Sub Process
Wants=chromium.service
After=chromium.service

[Service]
ExecStart=/data/packages/service/start-subprocess.sh
User=user
Restart=always
RestartSec=2