* {
	display: block;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

.abs-full {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

#loading-text {
	position: absolute;
	top: 30px;
	left: 30px;
	font-family: 'Roboto', sans-serif;
}

iframe {
	outline: none;
	border: none;
}