[Unit]
Description=Run Chromium
Requires=weston.service
BindsTo=weston.service
After=weston.service

[Service]
ExecStart=/data/packages/chromium/start.sh
User=user
Restart=always
RestartSec=2

# Set a custom pam session
PAMName=chromium