BR2_GLOBAL_PATCH_DIR="../board/common-headless/patches"
BR2_ROOTFS_DEVICE_TABLE="../board/common-headless/device_table.mk"
BR2_ROOTFS_USERS_TABLES="../board/common-headless/users_table.mk"
BR2_ROOTFS_POST_BUILD_SCRIPT="../board/common-headless/scripts/post-build.sh"
BR2_ROOTFS_POST_FAKEROOT_SCRIPT="../board/common-headless/scripts/fakeroot.sh"
BR2_ROOTFS_POST_IMAGE_SCRIPT="../board/common-headless/scripts/post-image.sh"
# gets added automatically at the end
# BR2_LINUX_KERNEL_CONFIG_FRAGMENT_FILES="../board/common-headless/linux.config"

BR2_TOOLCHAIN_BUILDROOT_GLIBC=y
# BR2_SHARED_STATIC_LIBS=y
BR2_KERNEL_HEADERS_LATEST=y
BR2_PACKAGE_GLIBC_UTILS=y
BR2_TOOLCHAIN_BUILDROOT_CXX=y
BR2_TARGET_GENERIC_HOSTNAME="custom-os"
BR2_TARGET_GENERIC_ISSUE="Welcome to Custom OS"
BR2_INIT_SYSTEMD=y
BR2_TARGET_GENERIC_ROOT_PASSWD="root"
BR2_SYSTEM_BIN_SH_BASH=y
# BR2_TARGET_GENERIC_GETTY is not set
# BR2_TARGET_GENERIC_REMOUNT_ROOTFS_RW is not set
# BR2_ENABLE_LOCALE_PURGE is not set
BR2_LINUX_KERNEL=y
# BR2_PACKAGE_BUSYBOX is not set
BR2_PACKAGE_ALSA_UTILS=y
BR2_PACKAGE_PULSEAUDIO=y
BR2_PACKAGE_PULSEAUDIO_DAEMON=y
BR2_PACKAGE_BZIP2=y
BR2_PACKAGE_GZIP=y
BR2_PACKAGE_GREP=y
BR2_PACKAGE_E2FSPROGS=y
BR2_PACKAGE_E2FSPROGS_RESIZE2FS=y
BR2_PACKAGE_CANTARELL=y
BR2_PACKAGE_LIBERATION=y
BR2_PACKAGE_LINUX_FIRMWARE=y
BR2_PACKAGE_USB_MODESWITCH_DATA=y
BR2_PACKAGE_LIBNSS=y
BR2_PACKAGE_LINUX_PAM=y
BR2_PACKAGE_MODEM_MANAGER_LIBQMI=y
BR2_PACKAGE_NETWORK_MANAGER=y
BR2_PACKAGE_NETWORK_MANAGER_MODEM_MANAGER=y
BR2_PACKAGE_WHICH=y
BR2_PACKAGE_COREUTILS=y
BR2_PACKAGE_PROCPS_NG=y
BR2_PACKAGE_SYSTEMD_LOCALED=y
BR2_PACKAGE_SYSTEMD_LOGIND=y
BR2_PACKAGE_TAR=y
BR2_PACKAGE_UTIL_LINUX_BINARIES=y
BR2_PACKAGE_UTIL_LINUX_HWCLOCK=y
BR2_TARGET_ROOTFS_EXT2=y
BR2_TARGET_ROOTFS_EXT2_4=y
BR2_TARGET_ROOTFS_EXT2_SIZE="250M"
# BR2_TARGET_ROOTFS_TAR is not set
BR2_TARGET_GRUB2=y
BR2_PACKAGE_HOST_DOSFSTOOLS=y
BR2_PACKAGE_HOST_GENIMAGE=y
BR2_PACKAGE_HOST_IMAGEMAGICK=y
BR2_PACKAGE_HOST_MTOOLS=y
BR2_PACKAGE_SERVICE_BOOTLOADER=y