CONFIG_LOGO=n
CONFIG_USB_ACM=y

CONFIG_USB_USBNET=y
CONFIG_USB_NET_HUAWEI_CDC_NCM=m
# CONFIG_USB_NET_NET1080 is not set
# CONFIG_USB_NET_CDC_SUBSET is not set
CONFIG_USB_NET_QMI_WWAN=m
CONFIG_USB_NET_RNDIS_WLAN=m
CONFIG_USB_NET_CDC_EEM=m
CONFIG_USB_NET_CDC_MBIM=m
CONFIG_USB_GADGET=m
CONFIG_USB_ETH=m
CONFIG_USB_ETH_RNDIS=y
CONFIG_USB_ETH_EEM=y
CONFIG_USB_SERIAL_WWAN=m
CONFIG_USB_SERIAL_OPTION=y
CONFIG_USB_SERIAL_QUALCOMM=m
CONFIG_MHI_BUS=m
CONFIG_MHI_BUS_PCI_GENERIC=m
CONFIG_MHI_WWAN_CTRL=m
CONFIG_RTL8XXXU=m

CONFIG_USB_SERIAL=y
CONFIG_USB_SERIAL_GENERIC=y
CONFIG_USB_SERIAL_SIMPLE=y
CONFIG_USB_SERIAL_CH341=y
CONFIG_SND_HDA_CODEC_REALTEK=y
CONFIG_SND_HDA_RECONFIG=y
CONFIG_SND_HDA_CODEC_HDMI=y
CONFIG_SND_HDA_CODEC_ANALOG=y
CONFIG_SND_USB=y
CONFIG_SND_USB_AUDIO=m
CONFIG_CPU_FREQ_DEFAULT_GOV_SCHEDUTIL=y
CONFIG_CPU_FREQ_GOV_POWERSAVE=y
CONFIG_SECURITY_SELINUX=n
CONFIG_HZ_100=y
# CONFIG_HZ_1000 is not set
CONFIG_HZ=100