CONFIG_LOGO=n
CONFIG_USB_ACM=y
CONFIG_USB_USBNET=y
CONFIG_USB_NET_HUAWEI_CDC_NCM=y
# CONFIG_USB_NET_NET1080 is not set
# CONFIG_USB_NET_CDC_SUBSET is not set
CONFIG_USB_NET_QMI_WWAN=y
CONFIG_USB_SERIAL=y
CONFIG_USB_SERIAL_GENERIC=y
CONFIG_USB_SERIAL_SIMPLE=y
CONFIG_USB_SERIAL_CH341=y
CONFIG_SND_HDA_CODEC_REALTEK=y
CONFIG_SND_HDA_RECONFIG=y
CONFIG_SND_HDA_CODEC_HDMI=y
CONFIG_SND_HDA_CODEC_ANALOG=y