# remove egalaxy simulated mouse
# so the touch interface is the default input
ACTION=="add", ENV{ID_INPUT_MOUSE}=="1", ENV{ID_VENDOR}=="eGalax_Inc.", ENV{ID_INPUT}="", ENV{ID_INPUT_MOUSE}=""