#!/bin/bash
# possible optimization flags
# --enable-gpu-rasterization --enable-zero-copy
# --disable-gpu-blacklist --enable-gpu-rasterization --enable-features=VaapiVideoDecoder \
# --enable-native-gpu-memory-buffers --enable-gpu-memory-buffer-video-frames --enable-zero-copy --gpu-no-context-lost
# --enable-oop-rasterization
# EGL_PLATFORM=surfaceless
# --disable-gpu
cd CURRENT_DIR
XDG_RUNTIME_DIR=/run/user/14 WAYLAND_DISPLAY=wayland-0 BINARY ARGS