#!/bin/bash
cd CURRENT_DIR
XDG_RUNTIME_DIR=/run/user/14 WAYLAND_DISPLAY=wayland-0 BINARY \
	--disable-infobars --disable-restore-session-state --disable-session-storage --disable-rollback-option \
	--disable-speech-api --disable-sync --disable-pinch --kiosk "URL" --load-extension="EXTENSION"